<th:block xmlns:th="http://www.thymeleaf.org">
    <input type="checkbox" class="btn-check data-checkbox" id="btn-check-java-random" value="JAVA_RANDOM"
           autocomplete="off">
    <label class="btn btn-outline-primary" for="btn-check-java-random">Generator liczb losowych Java</label><br>

    <input type="checkbox" class="btn-check data-checkbox" id="btn-check-random-org" value="RANDOM_ORG"
           autocomplete="off">
    <label class="btn btn-outline-primary" for="btn-check-random-org">www.random.org</label><br>

    <input type="checkbox" class="btn-check data-checkbox" id="btn-check-db" value="DB" autocomplete="off">
    <label class="btn btn-outline-primary" for="btn-check-db">Pobieranie z bazy danych</label><br>
</th:block>